<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{.Title}}</title>
</head>

<body>
	<header>
		<a href="/">
			<div class="logo">Logo</div>
		</a>
	</header>
	{{.Body}}
	<footer>
		<div class="socials">
			<a href="https://github.com/Lisviks" target="_blank" class="github">
				<i class="fa-brands fa-github fa-2x"></i>
			</a>
			<a href="https://x.com/drimkust" target="_blank" class="x">
				<i class="fa-brands fa-x-twitter fa-2x"></i>
			</a>
			<a href="https://www.linkedin.com/in/deividas-rimkus-8306904b/" target="_blank"
				class="linkedin">
				<i class="fa-brands fa-linkedin-in fa-2x"></i>
			</a>
		</div>
		<p>Copyright © Deividas Rimkus 2024</p>
	</footer>
</body>

</html>
